@{
    ViewData["Title"] = "Home Page";
}

<div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 disabled" id="blk1">
    <div class="bg-white tm-block">
        <h1>1. Выбор источника</h1>
        <br />
        <form method="post" action="@Url.Action("ModelSelect","Home")">
            <ul>
                <li><h2 class="tm-block-title">Каталог библиотеки ИТМО</h2></li>
                <li><h2 class="tm-block-title"><s>Сайт со стихами</s></h2></li>
                <li><h2 class="tm-block-title"><s>Тексты песен</s></h2></li>
                <li><h2 class="tm-block-title"><s>Свои данные</s></h2></li>
            </ul>
            <br />
            <input type="hidden" name="step" value="SelectSource" />
            <input type="submit" value="Выбрать" />
        </form>
    </div>
</div>