@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<ul>
    <li>
        <h2 class="tm-block-title d-inline-block"><a href="@Url.Action("ModelSelect","Home",new { source = 1})">Каталог библиотеки ИТМО</a></h2>
    </li>
    <li>
        <h2 class="tm-block-title d-inline-block">Сайт со стихами</h2>
    </li>
    <li>
        <h2 class="tm-block-title d-inline-block">Тексты песен</h2>
    </li>
    <li>
        <h2 class="tm-block-title d-inline-block">Свои данные</h2>
    </li>
</ul>