<div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 disabled" id="blk2">
    <div class="bg-white tm-block">
        <h1>2. Выбор модели</h1>
        <br />
        <form method="post" action="@Url.Action("Train","Home")">
            <ul>
                <li><h2 class="tm-block-title">Простая модель</h2></li>
                <li><h2 class="tm-block-title"><s>Сложная модель</s></h2></li>
                <li><h2 class="tm-block-title"><s>Адаптивная модель</s></h2></li>
            </ul>
            <br />
            <input type="hidden" name="step" value="SelectModel" />
            <input type="submit" value="Выбрать" />
        </form>
    </div>
</div>