@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<ul>
    <li>
        <h2 class="tm-block-title d-inline-block"><a href="@Url.Action("Train","Home",new { source = 1, model = 1})">Простая модель</a></h2>
    </li>
    <li>
        <h2 class="tm-block-title d-inline-block">Сложная модель</h2>
    </li>
    <li>
        <h2 class="tm-block-title d-inline-block">Адаптивная модель</h2>
    </li>
</ul>